* {
    margin: 0;
    padding: 0;
    box-shadow: box-sizing;
}

html {
    display: block;
}
body {
    background: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    margin: 8px;
}
.wrapper {
    display: flex;
    justify-content: center;
    height: 550px;
    margin: 150px 0 120px 0;
}
@media (max-width: 375px){
    .wrapper {
        flex-direction: column;
        margin: 5px;
    }
}

.wrapper > * {
    padding: 60px 60px 0px 55px;
    color: #fff;
    position: relative;
    line-height: 1.5;
}
div > h1 {
    padding-bottom: 20px;
}
div > p {
    padding-bottom: 75px;
    font-family: Lexend Deca;
    font-weight: 400px;
    letter-spacing: 2px;
}
    .wrapper_element1 {
        background-color: hsl(31, 77%, 52%);
        width: 235px;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    .wrapper_element2 {
        background-color: hsl(184, 100%, 22%);
        width: 235px;
    }

    .wrapper_element3 {
        background-color: hsl(179, 100%, 13%);
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        width: 235px;
    }
    img {
        margin-bottom: 20px;
    }
    h1 {
        font-family: Big Shoulders Display;
        font-weight: 700px;
        font-size: 43px;
    }
    button {
        width: 150px;
        height: 50px;
        border: 0;
        color: hsl(31, 77%, 52%);
        border-radius: 25px;
        margin-top: 20px;
    }

.column_card-footer {
    text-align: center;
}